In [12]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Charger les données avec des doubles barres obliques inverses
data = pd.read_csv('Data\\data_meteo.csv')
data

    Température  Humidité  Vitesse du vent État du jour
0            21        83               18   Ensoleillé
1            18        59               13     Pluvieux
2            27        85                9     Pluvieux
3            29        63               10     Pluvieux
4            25        80               16      Nuageux
..          ...       ...              ...          ...
95           27        71                5      Nuageux
96           29        77               13   Ensoleillé
97           16        51               16      Nuageux
98           24        91               15     Pluvieux
99           26        94               10   Ensoleillé

[100 rows x 4 columns]

In [16]:
X=data[['Température','Humidité']]
Y=data['État du jour']

x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=42)
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train, y_train)
y_pred = knn.predict(x_test)

In [24]:
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

# Encoder les étiquettes catégorielles sous forme numérique
le = LabelEncoder()
y_train_encoded = le.fit_transform(y_train)
y_test_encoded = le.transform(y_test)

In [25]:
X = data[['Température', 'Humidité', 'Vitesse du vent']]
y = data['État du jour']
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train, y_train)
y_pred = knn.predict(x_test)
y_pred_encoded = le.transform(y_pred)

# Calculer le Mean Squared Error (MSE)
mse = mean_squared_error(y_test_encoded, y_pred_encoded)

# Calculer la racine de MSE (RMSE)
rmse = np.sqrt(mse)

print("RMSE:", rmse)

RMSE: 1.396424004376894